* {
    font-family: 'poppins', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    background-color: #f7f7f7;
}

nav {
    width: 100%;
    height: 13vh;
    display: flex;
    margin: 0 auto;

}

.navbar {
    width: 1450px;
    display: flex;
    align-items: center;
    height: 13vh;
    margin: 0 auto;
    background: #F7F7F7;
}

.logo {
    color: var(--Primary-Green---Fashion, #004723);
    font-size: 25px;
    font-weight: 700;
    width: 200px;
    margin: 0 60px;
}

.logo-special {
    color: var(--Primary-Yellow---Fashion, #FBD103);
    font-size: 25px;
    font-weight: 700;
}

.menu-left-wrapper {
    width: 600px;
    font-size: 20px;
    font-weight: 400;
    transform: translateX(-15%);
}

.menu-left-wrapper a {
    margin-left: 40px;
    color: var(--Dark-Grey---Fashion, #323232);
    transition: all ease-in;
    transition-duration: 0.4s;
}

.menu-left-wrapper a:hover {
    color: #FBD103;
    text-decoration: underline;
    text-shadow: 2px 2px 3px 3px;
}

.search-input {
    display: flex;
    margin-left: -4rem;
}

.search {
    border-radius: 1000px;
    color: rgba(0, 0, 0, 0.30);
    background: lightgray;
    padding: 18px 50px 18px 60px;
    border: 1px solid rgba(229, 229, 229, 0.88);
}

.magnifier {
    margin-top: 16px;
    transform: translateX(-160%);
    opacity: 0.6;
}

.menu-right-wrapper {
    display: flex;
    width: 250px;
    margin-left: -2vh;
}

.icons-nav img {
    margin-left: 35px;
    cursor: pointer;
}

.page1 {
    width: 100%;
    height: 700px;
    display: flex;
    margin: 0 auto;
    background-color: #f7f7f7;
}

.page1-container {
    width: 1350px;
    height: 550px;
    margin: 0 auto;
    display: flex;
}



.page1-text-wrapper {
    width: 630px;
    height: 500px;
    padding: 50px 0 0 30px;
}

#page1-heading1 {
    color: #323232;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.625px;
    opacity: 0.5;
}

#page1-heading2 {
    color: #323232;
    font-size: 70px;
    font-weight: 400;
}

#page1-btn {
    cursor: pointer;
    padding: 20px 60px;
    color: #fff;
    border: 1px solid #004743;
    border-radius: 1000px;
    background: var(--Primary-Green---Fashion, #004743);
    transition-duration: 0.4s;
    transition: all ease 0.4s;
    font-weight: bold;
    font-size: 20px;
}

#page1-btn:hover {
    background-color: #002b16;
}

.hero-img {
    width: 650px;
    height: 540px;
    display: flex;
}

#hero-img-background {
    width: 667px;
    height: 551px;
    flex-shrink: 0;
    background-image: url(/images/bg.png);
    background-repeat: no-repeat;
    mix-blend-mode: luminosity;
    transform: translateX(8%);
    margin-top: 25px;
}

.hero-img img {
    width: 244px;
    height: 517px;
    flex-shrink: 0;
    transform: translateX(-180%);
    margin-top: 50px;
}

/* page1 was Ended */

.container {
    /* A Container Adjust The Whole Website Before Footer */
    display: flex;
    margin: 0 auto;
}

.image-container {
    margin: 0 auto;
    margin-top: 5rem;
}

.cards-container {
    display: block;
    width: 100%;
    height: 900px;
    padding-top: 50px;
    padding-bottom: 110px;
}

.cards {
    display: flex;
    width: 1450px;
    height: 310px;
    margin: 0 auto;
}

.card1 {
    width: 648px;
    height: 300px;
    border-radius: 20px;
    background: radial-gradient(206.03% 76.54% at 96.3% 9%, #6CDDFF 0%, #58C4E4 100%);
    transform: translateX(10%);
}

.girl-img {
    width: 240px;
    height: 300px;
    background: url(images/image\ 9.png) 50% / cover no-repeat;
    transform: translateX(150%);
    margin-top: -292px;
}

.card1 h2 {
    width: 250px;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    margin-left: 40px;
}

.card1 p {
    margin-top: -30px;
    margin-left: 40px;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    width: 200px;
}

.card1 span {
    color: #FBD103;
    font-size: 25px;
    font-weight: 700;
}

.card1-btn {
    margin: -4px 40px;
    width: 200px;
}

.card1-btn button {
    width: 174px;
    height: 52px;
    color: var(--Dark-Grey---Fashion, #323232);
    font-size: 18px;
    font-weight: 700;
    border-radius: 1000px;
    border: 1px #FFF;
    background-color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    transition-delay: 0.1s;
}

.card1-btn button:hover {
    background: #000;
    color: white;
}

.card2 {
    width: 648px;
    height: 300px;
    margin-left: 90px;
    border-radius: 20px;
    background: radial-gradient(464.18% 133.85% at 0% 100%, #FBD103 70.66%, #FFE14B 100%);
}

.boy-img {
    width: 324px;
    height: 300px;
    background: url(images/men_small\ 1.png) 50% / cover no-repeat;
    transform: translateX(97%);
    margin-top: -292px;
}

.card2 h2 {
    width: 250px;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    margin-left: 40px;
}

.card2 p {
    margin-top: -30px;
    margin-left: 40px;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    width: 200px;
}

.card2 span {
    color: #004743;
    font-weight: 700;
    font-size: 25px;
}

.card1-btn {
    margin: -4px 40px;
    width: 200px;
}

.card1-btn button {
    width: 174px;
    height: 52px;
    color: var(--Dark-Grey---Fashion, #323232);
    font-size: 18px;
    font-weight: 700;
    border-radius: 1000px;
    border: 1px #FFF;
    background-color: #fff;
    cursor: pointer;
}

.Baby-and-kids-sale {
    background-color: #fff;
    width: 1325px;
    height: 540px;
    margin: 0 auto;
    border-radius: 20px;
    transform: translateY(-6%);
    background: radial-gradient(846.18% 157.34% at 5.3% 76.06%, #EDEEF2 0%, #ECF0F3 100%);
}

.page2-text-wrapper {
    margin: 40px;
    width: 640px;
    height: 490px;
    transform: translateY(8%);
    padding-left: 80px;
}

.page2-text-wrapper h2 {
    color: #323232;
    font-size: 60px;
    font-weight: 400;
}

.SALE {
    display: inline-block;
    width: 424px;
    height: 187px;
    margin-left: 9%;
    background: url(images/Rectangle\ 12.png);
}

.SALE h2 {
    color: #000;
    font-size: 80px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: 20px;
}

.SALE p {
    color: #004743;
    font-size: 25px;
    font-weight: 400;
    margin-top: -93px;
    margin-left: 100px;
}

.page2-btn {
    cursor: pointer;
    padding: 20px 60px;
    color: #fff;
    border: 1px solid #004743;
    border-radius: 1000px;
    background: var(--Primary-Green---Fashion, #004743);
    transition: all ease-in-out 0.4s;
    transition-delay: 0.1s;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 204px;
}

.page2-btn:hover {
    background: #002b16;
    cursor: pointer;
}

.page2-box2 {
    width: 445px;
    height: 513px;
    flex-shrink: 0;
    flex-shrink: 0;
    background-image: url(images/image\ 10.png);
    background-size: cover;
    margin-left: 840px;
    transform: translateY(-100%);
}

.page3 {
    width: 100%;
    height: 960px;
    margin: 0 auto;
}

.new-arrivals {
    width: 1439px;
    height: 800px;
    margin: 0 auto;
}

.new-arrival-text {
    text-align: center;
}

.new-arrival-text h2 {
    color: var(--Dark-Grey---Fashion, #323232);
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.new-arrival-text p {
    margin-top: -50px;
    color: var(--Dark-Grey---Fashion, #323232);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.5;
}

.new-arrival-btn1 {
    width: 99px;
    height: 40px;
    background-color: #FBD103;
    color: #323232;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 1000px;
    border: none;
}

.new-arrival-btn {
    width: 99px;
    height: 40px;
    border-radius: 1000px;
    border: 1px solid #fff;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 10px;
    transition: all ease-in-out 0.4s;
    transition-delay: 0.1s;
}

.new-arrival-btn:hover {
    color: #fff;
    background-color: #FBD103;
}

.products-container {
    display: flex;
    width: 1400px;
    height: 550px;
    margin: 0 auto;
    padding-top: 60px;
    transform: translateX(2%);
}

.scroller1 {
    width: 140px;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
    opacity: 0.5;
}

.scroller1 a {
    margin-left: 10px;
}

.page4 {
    width: 1100px;
    height: 330px;
    margin: 0 auto;
    padding-top: 100px;
    transform: translateY(20%);
}

.top-brands-deal {
    display: flex;
    width: 1100px;
    height: 330px;
    background-color: #004743;
    border-radius: 20px;
    display: block;
}

.top-brands-deal-text {
    width: 700px;
    margin: 0 auto;
}

.top-brands-deal-text h2 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.top-brands-deal-text p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: -40px;
}

.top-brands-deal-text span {
    color: #FBD103;
    font-size: 20px;
    font-weight: 700;
}

.brands {
    margin: 0 auto;
    width: 870px;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 40px;
}


#brand1 {
    width: 150px;
    height: 100px;
    border-radius: 22px;
    background-color: #fff;
}

#brand2 {
    width: 150px;
    height: 100px;
    border-radius: 22px;
    background-color: #fff;
}

#brand3 {
    width: 150px;
    height: 100px;
    border-radius: 22px;
    background-color: #fff;
}

#brand4 {
    width: 150px;
    height: 100px;
    border-radius: 22px;
    background-color: #fff;
}

#brand5 {
    width: 150px;
    height: 100px;
    border-radius: 22px;
    background-color: #fff;
}

.img {
    margin-top: 20px;
}

.page5 {
    display: flex;
    width: 100%;
    height: 840px;
    margin: 0 auto;
    padding-bottom: 50px;
    transform: translateY(20%);
}

.page5-content-wrapper {
    width: 800px;
    height: 200px;
    margin: 0 auto;
}

#Trending-Collection {
    color: var(--Dark-Grey---Fashion, #323232);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#page5-content-wrapper-paragraph {
    color: var(--Dark-Grey---Fashion, #323232);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -45px;
    opacity: 0.5;
}

.products {
    width: 1400px;
    height: 530px;
    margin: 0 auto;
    display: flex;
    padding-top: 40px;
    transform: translateX(-20%);
}

.product1 {
    width: 360px;
    height: 500px;
}

#group29 {
    width: 45px;
    height: 153px;
    flex-shrink: 0;
    background-image: url(images/Group\ 29.png);
    background-repeat: no-repeat;
    margin-left: 255px;
    transform: translateY(-140%);
}

.product1 img {
    border-radius: 22px;
    cursor: pointer;
}

.product2 {
    margin-left: -20px;
    width: 360px;
    height: 450px;
}

.product2 img {
    border-radius: 22px;
    cursor: pointer;
}

.product3 {
    margin-left: -20px;
    width: 360px;
    height: 450px;
}

.product3 img {
    border-radius: 22px;
    cursor: pointer;
}

.product4 {
    margin-left: -20px;
    width: 360px;
    height: 450px;
}

.product4 img {
    border-radius: 22px;
    cursor: pointer;
}

#product1-detail {
    width: 314px;
    height: 60px;
    display: flex;
    transform: translateY(-270%);
}

#product1-detail img {
    width: 95.79px;
    height: 15px;
    flex-shrink: 0;
    margin-top: 28px;
    margin-left: 170px;
}

#Kids {
    color: var(--Dark-Grey---Fashion, #323232);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

#Women {
    color: var(--Dark-Grey---Fashion, #323232);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    width: 40px;
}

#product1-price-detail {
    width: 312px;
    height: 90px;
    transform: translateY(-210%);
}

#Kurti {
    color: var(--Dark-Grey---Fashion, #323232);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.prices {
    width: 312px;
    height: 50px;
    display: flex;
    margin-top: -40px;
}

#discounted-price {
    margin-top: 16px;
    color: #74CA4D;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#orignial-price {
    margin-top: 20px;
    margin-left: 18px;
    color: var(--Dark-Grey---Fashion, #323232);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3;
    text-decoration: line-through;
}

.scroller {
    width: 140px;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
}

.page6 {
    width: 100%;
    height: 670px;
    margin: 0 auto;
    transform: translateY(28%);
}

#reviews {
    margin: 0 auto;
    width: 100%;
    height: 550px;
    padding: 40px;
    background: #F9F9F9;
}

.review-heading-paragraph {
    text-align: center;
    margin: 0 auto;
    width: 640px;
    height: 160px;
}

#review-heading {
    color: var(--Dark-Grey---Fashion, #323232);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px 0 0 0;
}

#coustomer-review {
    color: var(--Dark-Grey---Fashion, #323232);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
}

.our-coustomer-review {
    width: 1130px;
    height: 320px;
    background-image: url(rectangle.svg);
    margin: 0 auto;
    display: flex;
}

#user-img {
    width: 360px;
    height: 320px;
}

#user-img img {
    margin-top: 28px;
    margin-left: 20px;
}

#coustomer-review-description {
    width: 630px;
    height: 156px;
    flex-shrink: 0;
    transform: translateY(30%);
}

#coustomer-review-description-paragraph {
    color: #323232;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.9%;
    /* 27.78px */
    letter-spacing: 1px;
}

#coustomer-name {
    width: 170px;
    height: 30px;
    display: block;
    margin-left: -650px;
    color: #000;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 138.9%;
    margin-top: 19%;
}

#coustomer-name p {
    margin: 25px 0 0 0;
}

#scroller3 {
    width: 140px;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
    margin-left: 300px;
    margin-top: 250px;
}

.page7 {
    width: 100%;
    height: 630px;
    margin: 0 auto;
    transform: translateY(30%);
}

.icons-and-emails-userinput-wrapper {
    height: 600px;
    width: 1320px;
    margin: 0 auto;
}

#subscrbe-our-newsletter {
    width: 760px;
    height: 250px;
    display: block;
    margin: 30px auto;
    text-align: center;
}

#sub-heading-for-newsletter {
    text-align: center;
    color: #323232;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px 0 0 0;
}

#paragraph-our-newsletter {
    color: #323232;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 6px 0 0 0;
}

#input-our-newsletter {
    width: 771px;
    height: 130px;
    display: flex;
    margin-top: 40px;
    transform: translateX(38%);
}

#input-our-newsletter input {
    color: #323232;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 1000px;
    border: 2px solid #F7F7F7;
    background: #F7F7F7;
    padding-left: 30px;
    width: 771px;
    height: 120px;
}

#svg-ellisp166-bg {
    width: 112.191px;
    height: 112.191px;
    position: absolute;
    cursor: pointer;
    margin: 5px 0 0 598px;
}

.send-icon-svg {
    width: 50.612px;
    height: 50.613px;
    flex-shrink: 0;
    transform: translateX(-190%);
    margin-top: 40px;
    cursor: pointer;
}

.social-icons {
    display: flex;
    width: 214px;
    height: 51px;
    margin: 0 auto;
    transform: translateY(90%);
}

#facebook-icon {
    display: flex;
    width: 10px;
    height: 20px;
    padding: 14.025px 17.85px 12.75px 17.85px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 195.543px;
    background: #F3F3F3;
}

#facebook-icon a {
    width: 15.3px;
    height: 24.225px;
    flex-shrink: 0;
}

#instagram-icon {
    display: flex;
    width: 10px;
    height: 20px;
    padding: 14.025px 17.85px 12.75px 17.85px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 195.543px;
    background: #F3F3F3;
    margin: 0 0 0 30px;
}

#instagram-icon a {
    width: 20.4px;
    height: 22.95px;
    flex-shrink: 0;
}

#twitter-icon {
    display: flex;
    width: 10px;
    height: 20px;
    padding: 14.025px 17.85px 12.75px 17.85px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 195.543px;
    background: #F3F3F3;
    margin: 0 0 0 30px;
}

#twitter-icon a {
    width: 22.95px;
    height: 19.125px;
    flex-shrink: 0;
}

.page8 {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    transform: translateY(50%);
}

#footer-text-wrapper {
    height: 371px;
    width: 1370px;
    margin: 0 auto;
    display: flex;
}

#description-and-logo {
    width: 366px;
    height: 253px;
}

.logo2 {
    width: 338px;
    height: 57px;
    flex-shrink: 0;
    color: #004743;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo-special2 {
    color: #FBD103;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#description {
    width: 400px;
    height: 156px;
    flex-shrink: 0;
    color: #323232;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.9%;
    letter-spacing: 1px;
}

#help-txt {
    width: 380px;
    height: 330px;
    margin: 0 0 0 100px;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 216.9%;
    /* 54.225px */
    transform: translateY(-9%);
}

#help-txt a {
    text-decoration: underline;
    width: 350px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 216.9%;
    /* 54.225px */
}